html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(26, 26, 26);
  overflow:visible;
}

ol,
li,
p, 
h1,
h2,
img {
  list-style: none;
  color: #FDFDFC;
  margin:0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  /* padding-top: 20px; */
  /* position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2; */
}

.pizza__title {
  color: #F0BD34;
}


.pizza { 
  
  /* border-style: dashed; */
  padding: 20px 0 20px 20px;
  flex-grow: 1;
}

.pizza--last {
  position: relative;
}

.pizza__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* border-right: 3px dashed #F0BD34; */
  padding-right: 30px;
}

.pizza__list {
  display: flex;
  gap: 10px;
}

.pizza__item {
  color: #F0BD34;
}

.pizza__item--descr {
  color:#FDFDFC;
}
/* .pizza__list--price {
  gap: 5px;
} */
.pizza__content-container {
  display: flex;
  flex-direction: column;
  border-right: 3px dashed #F0BD34;
  padding-right: 20px;
}

.pizza__content-container--first {
  gap: 5px;
}

.pizza__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizza__content--med {
  margin-top: -25px;
}

.pizza__img {
  animation: 6s linear 6s normal none infinite running rot;
  width: 400px;
  height: 400px;

}

.img__cont {
  position: fixed;
  right: -100px;
  bottom: -100px;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pizza__toppings {
  width: 50%;
}

.toppings__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toppings__text {
  float: left;
}

.toppings__first-word {
  color: #F0BD34;
}

/* .video__container {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
} */

.pizza__logo--transp {
  opacity: 0;
}